:root {
  --branding-color: #189ab4;
  --secondary-color: #d4f1f4;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}
.navbar-nav a {
  margin: 0px 35px;
}
.navbar {
  background: white !important;
}
.logo {
  max-width: 110px;
}
.active {
  color: var(--branding-color) !important;
}
.hero p {
  font-size: 24px;
  font-weight: 400;
  color: #272142;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}
.hero-intro {
  font-size: 36px;
  font-weight: bold;
}

.content-section h1 {
  font-size: 64px;
  line-height: 1.2;
}
.content-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-section {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 18px 30px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border-radius: 4px;
}
.btn-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  border-radius: 4px;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}
p {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #272142;
}
.project-description {
  padding: 100px 60px;
}
footer {
  margin: 90px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 40px;
  border-radius: 14px;
}
footer .contact-box p {
  margin: 0px;
}
footer h4 {
  font-family: var(--heading-font-family);
  font-size: 48px;
}

footer .email-link {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 18px 22px;
  font-size: 18px;
  border-radius: 50%;
  color: var(--branding-color);
  background: var(--secondary-color);
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero p {
    font-size: 18px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    padding: 0;
    text-align: center;
  }
  .content-section {
    padding: 80px 20px;
  }
}
